
  <nav class="navbar navbar-dark position-fixed w-100" style="background-color: #9D2449;">
    <div class="container">
      <!-- Enlace al inicio -->
      <a class="navbar-brand" href="/">
        <img src="../../../assets/logo-h.png" alt="Casa de la Cultura" style="height: 50px; width: auto;">
      </a>
      <!-- Botón hamburguesa para abrir el menú lateral derecho -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  
  <!-- Menú lateral derecho -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Menú</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <!-- Enlaces según autenticación -->
      <a *ngIf="!isLoggedIn" class="nav-link" href="/login">Iniciar sesión</a>
      <a *ngIf="!isLoggedIn" class="nav-link" href="/signup">Registrar</a>

      <!-- Mostrar enlaces para usuarios normales -->
      <a *ngIf="isLoggedIn && userRole === 'NORMAL'" class="nav-link" href="/profile">Mi Perfil</a>
      <a *ngIf="isLoggedIn && userRole === 'NORMAL'" class="nav-link" href="/talleres">Talleres</a>
      <a *ngIf="isLoggedIn && userRole === 'NORMAL'" class="nav-link" href="/user-dashboard">Inicio</a>

      <!-- Mostrar enlaces para administradores -->
      <a *ngIf="isLoggedIn && userRole === 'ADMIN'" class="nav-link" href="/admin/profile">Mi Perfil</a>
      <a *ngIf="isLoggedIn && userRole === 'ADMIN'" class="nav-link" href="/admin/dash">Principal</a>
      <a *ngIf="isLoggedIn && userRole === 'ADMIN'" class="nav-link" href="/admin/crearT">Crear Talleres</a>

      <!-- Enlace de logout -->
      <a *ngIf="isLoggedIn" (click)="logout()" class="nav-link">Cerrar sesión</a>
    </div>
  </div>
  
  <!-- Bootstrap JS y dependencias (al final del archivo) -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  
  <!-- Imágenes laterales -->
  <img src="../../../assets/lateral.png" alt="Imagen Izquierda" class="left-image">
  <img src="../../../assets/lateral.png" alt="Imagen Derecha" class="right-image">

