<div class="container mt-4 d-flex justify-content-center">
  <div class="row" style="width: 100%; max-width: 800px;">
    <!-- Card para Crear Talleres -->
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Crear Talleres</h5>
          <div class="col-12 col-md-4 mb-3 mb-md-0 text-center">
              <img src='../../../../../assets/icon.png' class="responsive-image" />

          <p class="card-text">Administra y crea nuevos talleres para la plataforma.</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary w-100">Ir a Crear Talleres</button>
        </div>
      </div>
    </div>

    <!-- Card para Crear Usuarios -->
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Crear Usuarios</h5>
          <p class="card-text">Agrega y gestiona usuarios para la plataforma.</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary w-100">Ir a Crear Usuarios</button>
        </div>
      </div>
    </div>
  </div>
</div>
